.quote {
  height: 200px;
  text-align: center;
  font-size: 2vw;
  border-bottom: 1px solid #ccc;
  padding: 60px;
}

.purpose {
  height: 200px;
  text-align: center;
  font-size: 2vw;
  padding: 60px;
}
