$lightgrey: #F1F1F1;

#content {
  max-width: 900px;
  margin: 0 auto;

  input {
    max-width: 100%;
    margin-bottom: 20px;
    &[type="text"] {
      border: 1px solid $lightgrey;
      width: 100%;
      height: 40px;
      font-size: 26px;
      padding: 5px 20px;
    }
  }

  label {
    visibility: hidden;
  }

  .rdw-editor-wrapper {
    border: 1px solid $lightgrey;
    .rdw-editor-main {
      height: 300px;

    }
  }
}
