#banner-container {
  position: relative;
  #banner {
    max-width: 100%;
    height: 80vh;
    position: relative;
    background-size: 100% !important;
  }
  .shade {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .banner-caption {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2vw;
    z-index: 9;
  }
}
