.sub-left{
    display: block;
    #top-subContent{
        display: inline;
    }
    .wg{
        font: 16px/100% 'Lato', sans-serif;
        font-weight: 300;
        font-size: 2em;
        display: inline;
    }
    .more-info{
        font: 'Lato', sans-serif;
    }

}
.sub-right{
    display: block;
}
.img-options{
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-right: auto;
}
.sub-button{
    padding: 3% 0 2.5% 0;
    border: 0;
    background: #CCC;
    color: #777;
    width: 200px;
}
#option1-container{
    width: 250px;
}
#option2-container{
    width: 250px;
}
#option3-container{
    width: 250px;
}
.question{
    width: 225px;
    height: 200px;
}
